.breadcrumb {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Display list items side by side */
.breadcrumb li{
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before{
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #767676;
  &.without-decoration{
    text-decoration: none;
  }
}

.catalog__items{
  display: flex;
}

/*drop down menu */
.dropdown-menu{
  position: relative;
}

.dropdown-menu__list{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 200px;
}

.sub{
  position: relative;
  left: 0;
  top: 0;
  display: none;
  font-size: 14px;
  line-height: 22px;
}

.sub li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 4px;
}

.sub>li:hover a{
  text-decoration: underline;
  color: #010101;;
}

.dropdown-menu__list a{
  color: #767676;
}

.price-list__img{
  margin-top: 110px;
  margin-left: 45px;
}

.price-list__text a{
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  color: #444444;
}

.item:hover{
  text-decoration: underline;
}

.goods__list{
  display: flex;
  flex-wrap: wrap;
}

.good__item{
  width: 240px;
  height: 380px;
  background: #dcdcdc;
  margin-right: 15px;
  margin-bottom: 20px;
}

.good-img{
  margin: 15px;
}

.good-text{
  margin-left: 20px;
}

.good-text a{
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #767676;
}

.good-price{
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  color: #444444;
}

.price-card{
  display: flex;
  justify-content: space-between;
  margin: 55px 15px 0 15px;
}

.pages{
  height: 115px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-bottom: 1px solid black;
}

.pages a{
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #767676;
}
.pages a:hover{
  font-size: 18px;
  color: #444444;
}

.information{
  display: flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #767676;
  margin-top: 30px;
  margin-bottom: 205px;
}

.info{
  width: 370px;
}

.information__main{
  margin-right: 40px;
}

/* Сховати checkbox */
input[type="checkbox"] {
  display: none;
}

/* Сховати підменю */
.sub {
  display: none;
}

/* Показати підменю, коли checkbox відмічений */
input[type="checkbox"]:checked + .sub {
  display: block;
}

/* Стилі для label */
.item {
  cursor: pointer;
  color: #767676;
  display: block;
}
