.breadcrumb {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Display list items side by side */
.breadcrumb li{
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before{
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.025em;
  color: #767676;
  &.without-decoration{
    text-decoration: none;
  }
}

.catalog__items{
  display: flex;
}

.left-part__catalog{
  flex-basis: 180px;
}

.right-part__catalog{
  flex-basis: 800px;
  margin-left: 20px;
}

/*drop down menu */
.dropdown-menu{
  position: relative;
}

.dropdown-menu__list{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.sub{
  position: relative;
  left: 0;
  top: 0; 
  margin-left: 10px;
  color: #767676;
  display: none;
  font-size: 14px;
  line-height: 22px;
}

.dropdown-menu__list a{
  color: #767676;
}

.price-list__img{
  margin-top: 110px;
  margin-left: 45px;
}

.prive-list__text{
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #444444;
}

.dropdown-menu__list>li:hover .sub-cars{
  display: block;
}

.dropdown-menu__list>li:hover .sub-appliances{
  display: block;
}

.dropdown-menu__list>li:hover .sub-mobile{
  display: block;
}

.dropdown-menu__list>li:hover .sub-computers{
  display: block;
}

.dropdown-menu__list>li:hover .sub-clothes{
  display: block;
}

.dropdown-menu__list>li:hover .sub-real-estate{
  display: block;
}

.item:hover{
  text-decoration: underline;
}

.good_1{
  width: 250px;
  height: 380px;
  background: #dcdcdc;
}

.good_img{
  margin: 20px;
}