header{
  height: 230px;
  background-color: #dcdcdc;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 230px;
}

.logo{
  max-width: 273px;
  height: 100px;
  display: flex;
}

.logo a{
  color: #777777;
}

.logo__text{
  margin-left: 15px;
}

.text__top{
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 25px;
}

.text__bottom{
  font-size: 13px;
  font-weight: 100;
}

.contacts__phone{
  display: block;
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  color: #767676;
  font-family: 'Open Sans Condensed', sans-serif;
  &:hover{
    text-decoration: 2px underline;
  }
}

.contacts__feedback{
  display: flex;
  justify-content: end;
  font-size: 24px;
  line-height: 46px;
  font-weight: 700;
  color: #767676;
  &:active{
    text-decoration: underline dashed;
  }
}
