.menu{
  height: 80px;
  background-color: #777777;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1003;
  position: relative;
}

.menu__burger{
  width: 980px;
}

.menu__list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link{
  color: white;
  padding: 0 5px;
  border-right: 2px solid white;
  &:last-child{
    border-right: none;
  }
  &:hover{
    text-decoration: 2px underline;
  }
}



