@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSans-CondensedLight.eot");
  src: url("../fonts/OpenSans-CondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedLight.woff2") format("woff2"), url("../fonts/OpenSans-CondensedLight.woff") format("woff"), url("../fonts/OpenSans-CondLight.ttf") format("truetype"), url("../fonts/OpenSans-CondensedLight.svg#OpenSans-CondensedLight") format("svg");
}
body {
  height: 100%;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  opacity: 0.5;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  height: 230px;
  background-color: #dcdcdc;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 230px;
}

.logo {
  max-width: 273px;
  height: 100px;
  display: flex;
}

.logo a {
  color: #777777;
}

.logo__text {
  margin-left: 15px;
}

.text__top {
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 25px;
}

.text__bottom {
  font-size: 13px;
  font-weight: 100;
}

.contacts__phone {
  display: block;
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  color: #767676;
  font-family: "Open Sans Condensed", sans-serif;
}
.contacts__phone:hover {
  text-decoration: 2px underline;
}

.contacts__feedback {
  display: flex;
  justify-content: end;
  font-size: 24px;
  line-height: 46px;
  font-weight: 700;
  color: #767676;
}
.contacts__feedback:active {
  text-decoration: underline dashed;
}

.menu {
  height: 80px;
  background-color: #777777;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1003;
  position: relative;
}

.menu__burger {
  width: 980px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__link {
  color: white;
  padding: 0 5px;
  border-right: 2px solid white;
}
.menu__link:last-child {
  border-right: none;
}
.menu__link:hover {
  text-decoration: 2px underline;
}

/* Slideshow container */
.slider {
  max-width: 1248px;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  background-color: #d1d1d1;
  margin: -30px 0 0 0;
  z-index: 1000;
  width: 34px;
  height: 61px;
  font-size: 0;
  top: 50%;
}

.slick-arrow.slick-prev {
  left: 135px;
  background: url("../img/sl_arrow_l.png") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  right: 145px;
  background: url("../img/sl_arrow_r.png") 0 0/100% no-repeat;
}

.slider__item {
  margin-top: -62px;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.slider__item img {
  width: 100%;
  height: auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.breadcrumb {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

/* Add a color to all links inside the list */
.breadcrumb a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #767676;
}
.breadcrumb a.without-decoration {
  text-decoration: none;
}

.catalog__items {
  display: flex;
}

/*drop down menu */
.dropdown-menu {
  position: relative;
}

.dropdown-menu__list {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 200px;
}

.sub {
  position: relative;
  left: 0;
  top: 0;
  display: none;
  font-size: 14px;
  line-height: 22px;
}

.sub li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 4px;
}

.sub > li:hover a {
  text-decoration: underline;
  color: #010101;
}

.dropdown-menu__list a {
  color: #767676;
}

.price-list__img {
  margin-top: 110px;
  margin-left: 45px;
}

.price-list__text a {
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  color: #444444;
}

.item:hover {
  text-decoration: underline;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
}

.good__item {
  width: 240px;
  height: 380px;
  background: #dcdcdc;
  margin-right: 15px;
  margin-bottom: 20px;
}

.good-img {
  margin: 15px;
}

.good-text {
  margin-left: 20px;
  margin-right: 10px;
}

.good-text a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #767676;
}

.good-price {
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  color: #444444;
}

.price-card {
  display: flex;
  justify-content: space-between;
  margin: 55px 15px 0 15px;
}

.pages {
  height: 115px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-bottom: 1px solid black;
}

.pages a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #767676;
}

.pages a:hover {
  font-size: 18px;
  color: #444444;
}

.information {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #767676;
  margin-top: 30px;
  margin-bottom: 205px;
}

.info {
  width: 370px;
}

.information__main {
  margin-right: 40px;
}

/* Сховати checkbox */
input[type=checkbox] {
  display: none;
}

/* Сховати підменю */
.sub {
  display: none;
}

/* Показати підменю, коли checkbox відмічений */
input[type=checkbox]:checked + .sub {
  display: block;
}

/* Стилі для label */
.item {
  cursor: pointer;
  color: #767676;
  display: block;
}

.item:checked {
  text-decoration: underline;
}

footer {
  height: 220px;
  background: #767676;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.copyright a {
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  line-height: 26px;
}

.footer-menu a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
}

.author {
  display: flex;
}

.author__text {
  line-height: 22px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: -5px;
}

.author__text a {
  color: #ffffff;
}

.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1009;
  visibility: hidden;
  opacity: 0;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup__close {
  position: absolute;
  right: -27px;
  top: -26px;
  background: #777777;
  height: 27px;
  width: 27px;
}

.popup__close span {
  position: absolute;
  width: 26px;
  height: 2px;
  right: -12px;
  background-color: #cacaca;
}
.popup__close span:first-child {
  top: 47%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.popup__close span:last-child {
  top: 47%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 466px;
  height: 578px;
  background: #ffffff;
  margin: 284px auto 0 auto;
  position: relative;
}

input {
  width: 341px;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

input:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.74);
}

textarea {
  margin: 0 auto;
  width: 341px;
  height: 142px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

button {
  margin: 20px auto 20px auto;
  width: 128px;
  height: 42px;
  background: #777777;
}

input::placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #777777;
}

h2 {
  margin: 30px auto 0 auto;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #535353;
}

input {
  margin: 0 auto;
}

.label {
  margin: 15px auto 5px auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .slider__item {
    margin-top: -57px;
  }
  .slick-arrow.slick-prev {
    left: 115px;
  }
  .slick-arrow.slick-next {
    right: 125px;
  }
}
@media (max-width: 1010px) {
  .right-part__catalog {
    max-width: 760px;
  }
  .goods__list {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .menu__burger {
    width: 750px;
  }
  .slider__item {
    margin-top: -46px;
  }
  .slick-arrow.slick-prev {
    left: 23px;
  }
  .slick-arrow.slick-next {
    right: 23px;
  }
  .right-part__catalog {
    max-width: 580px;
  }
  .menu__link {
    font-size: 22px;
    padding-right: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 937px) {
  .slick-arrow {
    width: 25px;
    height: 51px;
  }
  .slider__item {
    margin-top: -40px;
  }
  .right-part__catalog {
    max-width: 592px;
  }
}
@media (max-width: 860px) {
  .slider__item {
    margin-top: -35px;
  }
  .right-part__catalog {
    max-width: 530px;
  }
}
@media (max-width: 808px) {
  .slider__item {
    margin-top: -28px;
  }
  .right-part__catalog {
    max-width: 530px;
  }
}
@media (max-width: 768px) {
  .slider__item {
    margin-top: -20px;
  }
  .menu {
    height: 60px;
  }
  .menu__button {
    width: 30px;
    height: 30px;
    z-index: 2;
    position: absolute;
    overflow: hidden;
  }
  .menu__button span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.3s;
  }
  .menu__button span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu__button span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .menu__button.active {
    position: fixed;
  }
  .menu__button.active span:nth-of-type(1) {
    display: none;
  }
  .menu__button.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu__button.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .menu__burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #dcdcdc;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu__burger.active {
    transform: translateX(0);
  }
  .menu__list {
    display: flex;
    flex-direction: column;
  }
  .menu__link {
    color: #222222;
    border-right: none;
    margin-top: 10px;
  }
  .menu__link:first-child {
    margin-top: 0;
  }
  .contacts__feedback {
    justify-content: center;
  }
  .logo {
    margin-top: 10px;
  }
  .right-part__catalog {
    max-width: 500px;
  }
  .left-part__catalog {
    margin-bottom: 40px;
  }
  .goods__list {
    margin-left: 15px;
  }
}
@media (max-width: 712px) {
  .right-part__catalog {
    max-width: 420px;
  }
}
@media (max-width: 700px) {
  footer {
    height: 400px;
  }
  footer .container {
    flex-direction: column;
  }
  .footer__item {
    margin: 0 auto;
  }
  .footer-menu {
    margin: 40px auto;
  }
  .footer-menu a {
    justify-content: center;
  }
}
@media (max-width: 632px) {
  .right-part__catalog {
    max-width: 360px;
  }
  .information {
    flex-direction: column;
  }
  .information__main {
    margin-bottom: 30px;
  }
  footer {
    height: 400px;
  }
  footer .container {
    flex-direction: column;
  }
  .footer__item {
    margin: 0 auto;
  }
  .footer-menu {
    margin: 40px auto;
  }
}
@media (max-width: 580px) {
  .right-part__catalog {
    max-width: 330px;
  }
  .info {
    max-width: 330px;
  }
}
@media (max-width: 550px) {
  header {
    height: 240px;
  }
  .container {
    flex-direction: column;
  }
  .contacts__phone {
    font-size: 35px;
  }
  .contacts__feedback {
    margin-top: -10px;
    font-size: 20px;
  }
  .slider__item {
    margin-top: -15px;
  }
  .catalog__items {
    flex-direction: column;
    justify-content: center;
  }
  .right-part__catalog {
    max-width: 500px;
  }
  .left-part__catalog {
    margin-left: 160px;
  }
  .information {
    flex-direction: row;
  }
  .price-list__img {
    margin-top: 40px;
  }
}
@media (max-width: 490px) {
  .left-part__catalog {
    margin-left: 135px;
  }
}
@media (max-width: 450px) {
  .left-part__catalog {
    margin-left: 120px;
  }
}
@media (max-width: 412px) {
  .right-part__catalog {
    max-width: 410px;
  }
  .left-part__catalog {
    margin-left: 95px;
  }
  .information {
    flex-direction: column;
    margin-left: 30px;
  }
  .info {
    max-width: 310px;
    padding: 0 5px;
    margin: 0 0;
  }
  .information__main {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .information {
    margin-left: 15px;
  }
  .left-part__catalog {
    margin-left: 80px;
  }
}
@media (max-width: 350px) {
  .information {
    margin-left: 10px;
  }
  .info {
    max-width: 285px;
  }
}

/*# sourceMappingURL=style.css.map */
